.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

#startButton {
    background-color: purple;
    display: block;
    margin: 0 auto;
    margin-top: 25px;

}

#time {
    font-size: 15px;
    float: right;
    margin-right: 30px;
}

#viewScores {
    font-size: 15px;
    float: left;
    margin-left: 30px;
    color: purple;
}

ul {
    list-style: none;
}

button {
    background-color: purple;
    border-radius: 10px;
    color: white;

}

button:hover{
    opacity: 50%;
}

#choices {
    font-family: sans-serif;
    font-size: 24px;
}

#choices li {
    margin-bottom: 10px;
}

/* #choiceOne {
    margin-bottom: 10px;

}

#choiceTwo {
    margin-bottom: 10px;
}

#choiceThree {
    margin-bottom: 10px;
}

#choiceFour {
    margin-bottom: 10px;
} */